<div class="container"> 
  <ul>
    <li><a href="#home">Home</a></li>
    <li><a href="#diary">Diary</a></li>
    <li><a href="#contact">Contact</a></li>
    <li><a href="#about">About</a></li>
  </ul>

<form>  
    <div class="form-group"> 
      <h1 id="everydaylist" >EveryDay Todo List
      </h1>  
      <h2 id="encouragewords">
      Keep going on and make some progress
      </h2>
      <div>      
         <input type="text" #todo class="form-control" placeholder="Add Todo" name="todo" ngModel>

         <span class="input-group-text" (click)="addTodo(todo.value)">+</span>

      </div>  
    </div> 
</form>
</div>
<form>
<div class="data">  
  <ul class="list-instyled">  
   <li id="whatuneedtodo"*ngFor="let todo of todoArray">{{todo}}
   </li>


  </ul>  
</div>
<!-- <i class="material-icons>iconName</i> -->