<p>
 This is build for the people who listed the things do. 
 This website supported you add the todo list, and delete it.

 Also, you can write down a blog in the diary part. The pity
 part is that it only build based on front-end. Therefore, it 
 do not have the data saving.

</p>

<p> This website application is my first one, 
which build by HTML, CSS, Typescript, Angular JS.
I understand that I still have more road need to 
go in the front-end development. Thank you for watching 
this project. Even it is not perfect, I still love it.❤️</p>
